.maxrows{
    margin-left: 50%;
    transform: translate(-850%);
    padding: .2em .1em;
    font-size: 1.3em;
    cursor: pointer;
    border: none;
    border-radius: 100vw;
}

@media screen and (max-width: 1150px){
    .maxrows{
        margin: 0;
        transform: translate(0);
    }
}

.searchemployee{
    outline: none;
}

.tableContainer{
    position: relative;
    overflow-x: auto;
    max-width: calc(100% - 2em);
    margin: 3em auto;
    background-color: white;
    padding-right: 2em;
    border-radius: 1em;
}

table{
    position: relative;
    margin: 2em 0 2em 2em;
    width: 68em;
    border-collapse: collapse;
    table-layout:fixed;
}

table::after{
    content: "";
    position: absolute;
    top: 0;
    right: -2em;
    height: 100%;
    width: 2em;
    background-color: white;
}

tbody{
    text-align: center;
    font-weight: 700;
}

tbody tr:nth-child(odd){
    color: white;
    background-color: rgb(100, 150, 100);
}

thead tr{
    height: 4em;
}

th, td{
    padding: 0 1em;
}

td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .6em;
}

th button{
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

tbody tr{
    height: 6em;
}

.pagination{
    display: flex;
    align-items: center;
    margin: 0 auto 1em;
}

.pagination p{
    background-color: white;
    margin: 0 1em;
    padding: .2em .4em;
    font-size: 1.2em;
    border-radius: 100vw;
}

.pagination button{
    position: relative;
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    border: none;
    border-left: white solid .4em;
    border-top: white solid .4em;
    cursor: pointer;
}

.pagination button:nth-child(1){
    transform: rotate(-45deg);
}

.pagination button:nth-child(3){
    transform: rotate(135deg);
}

.emptylist{
    background-color: white !important;
    height: auto;
}

.emptylist td{
    position: relative;
    overflow: visible;
}

.emptylist td:first-child{
    background-color: grey;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 800px){
    .emptylist td:first-child{
        text-align: start;
    }
}