.tableContainer{
    position: relative;
    overflow-x: auto;
    max-width: calc(100% - 2em);
    margin: 3em auto;
    background-color: white;
    padding-right: 2em;
    border-radius: 1em;
}

@media screen and (max-width: 800px){
    .tableContainer{
        margin: 3em 0;
        border-radius: 0;
    }
}


table{
    position: relative;
    margin: 2em 0 2em 2em;
    width: 68em;
    border-collapse: collapse;
    table-layout:fixed;
}

@media screen and (max-width: 800px){
    table{
        font-size: .85em;
    }
}

table::after{
    content: "";
    position: absolute;
    top: 0;
    right: -2em;
    height: 100%;
    width: 2em;
    background-color: white;
}

tbody{
    text-align: center;
    font-weight: 700;
}

tbody tr:nth-child(odd){
    color: white;
    background-color: rgb(100, 150, 100);
}

thead tr{
    height: 4em;
}

td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .6em;
}

th button{
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

.sortrows{
    display: inline-flex;
    flex-direction: column;
    transform: translate(.5em, -.35em);
}

.sortrows span{
    display: inline-block;
    height: .3em;
    width: .3em;
    border-top: .2em solid;
    border-right: .2em solid;
}

.sortrows span:first-child{
    transform: translateY(.2em) rotate(-45deg);
}

.sortrows span:last-child{
    transform: rotate(135deg);
}

tbody tr{
    height: 6em;
}

.emptylist{
    background-color: white !important;
    height: auto;
}

.emptylist td{
    position: relative;
    overflow: visible;
}

.emptylist td:first-child{
    background-color: grey;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 800px){
    .emptylist td:first-child{
        text-align: start;
    }
}