@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: "Roboto";
  background: #6f8822;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.backgroundImage{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 40%;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}